/* Generales */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

html{
    background-color: #22577A;
}

.d-flex{
    display: flex;
}

.w-42-5{
    width: 42.5%;
}

.w-49{
    width: 49%;
}

.w-93{
    width: 93%;
}

.m-top-0{
    margin-top: 0px !important;
}

p{
    margin-left: 5px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #014c7e;
}

/* Main */
.main{
    justify-content: center;
    align-items: center;
}

/* Formulario */
.form{
    background-color: #c2c2c2;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
    box-sizing: border-box;
}

.diseño-input{
    height: 35px;
    padding: 0 15px;
    margin: 7px 0;
    border-radius: 5px;
    border-style: none;
}

.fecha-nacimiento-div, .pais-div{
    width: 50%;
}

.fecha-nacimiento-input{
    width: 85%;
}

.pais-input{
    width: 97%;
}

.terminos-y-condiciones{
    justify-content: center;
    margin: 8px 0;
}

.separacion{
    margin: 0 5px;
}

.btn-registrarse{
    width: 100% !important;
    background-color: #57CC99;
    font-weight: bold;
}

.btn-registrarse:hover{
    background-color: #38A3A5;
}